body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
}

#intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mainContent {
  display: none;
  padding: 20px;
}
